{% extends 'base.html'%}

{% block content %}



<main>
	<div class="container">
		{% for task in tasks %}
		{% if task.status == false %}
		<div class="tasks">
			{% else %}
			<div class="tasks active">
				{% endif %}
				<div class="task-container">
					<h5>{{task.title}}</h5>
					<p>
						{{task.description}}
					</p>
					<span>{{task.deadline}}</span>
				</div>

				<div class="btn-container">
					<div class="task-btn">
						<button class="done-btn" id="{{task.id}}" type="submit">Done</button>
						<button class="update-btn" id="{{task.id}}" type="submit">Edit</button>
					</div>
					<div class="delete">
						<button class="del-btn" id="{{task.id}}" type="submit">Delete</button>
					</div>
				</div>
			</div>



			{% endfor %}
		</div>
</main>

<aside class="right-menu">
	<span>
		<h3>Create new task</h3>
	</span>
	<div class="new-task-form">
		<span>
			<input type="text" id="form-Title" placeholder="Title">
		</span>
		<span>
			<textarea id="form-Description" placeholder="Description" rows="5"></textarea>
		</span>
		<span>
			<input type="text" id="form-deadline" placeholder="Deadline">
		</span>
		<span>
			<button type="submit" id="post-btn">Create task</button>
		</span>
	</div>
</aside>

<script>
	const listTaskGet = 'http://127.0.0.1:8000/api/v1/tasks/list/';
	const post_api_create = 'http://127.0.0.1:8000/api/v1/tasks/create/'

	function reload_page(time) {
		setTimeout(() => {
			document.location.reload();
		}, time);
	}

	//Update button functional
	document.querySelectorAll('.done-btn').forEach((element) => {
		element.onclick = function () {
			const url = `http://127.0.0.1:8000/api/v1/tasks/update/?task_id=${this.id}`;

			fetch(listTaskGet)
				.then(response => response.json())
				.then(tasks => {
					for (let index = 0; index < tasks.length; index++) {
						if (tasks[index].id == this.id) {
							let taskUpdate = {
								'title': tasks[index].title,
								'description': tasks[index].description,
								'deadline': tasks[index].deadline,
								'status': true
							}
							fetch(url, {
								method: 'PUT',
								headers: { 'Content-Type': 'application/json' },
								body: JSON.stringify(taskUpdate)
							});
						}
						setTimeout(() => {
							document.location.reload();
						}, 50);
					}

				});
		}
	});

	//Delete button functional
	document.querySelectorAll('.del-btn').forEach((element) => {
		element.onclick = function () {
			const url = `http://127.0.0.1:8000/api/v1/tasks/delete/${this.id}`;
			let i = 0;

			fetch(url, {
				method: 'DELETE',
				headers: { 'Content-Type': 'application/json' }
			});
			reload_page(50);
		}
	});

	//Create button functional
	document.getElementById("post-btn").addEventListener('click', (event) => {
		let formTitle = document.getElementById("form-Title");
		let formDescription = document.getElementById("form-Description");
		let formDeadline = document.getElementById("form-deadline");
		task = {
			'title': formTitle.value,
			'description': formDescription.value,
			'deadline': formDeadline.value,
		};

		fetch(post_api_create, {
			method: 'POST',
			headers: { 'content-type': 'application/json' },
			body: JSON.stringify(task)
		});

		formTitle.value = "";
		formDescription.value = "";
		formDeadline.value = "";

		reload_page(50);
	});
</script>
{% endblock %}